In [19]:
import pandas as pd

df = pd.read_csv('d:/jupyter/datasets/salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [20]:
df['company'].unique()

array(['google', 'abc pharma', 'facebook'], dtype=object)

In [21]:
df.job.unique()

array(['sales executive', 'business manager', 'computer programmer'],
      dtype=object)

In [23]:
df.degree.unique()

array(['bachelors', 'masters'], dtype=object)

In [24]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [25]:
df.company = le.fit_transform(df.company)
df.job = le.fit_transform(df.job)
df.degree = le.fit_transform(df.degree)

In [14]:
df.company.unique()

array([2, 0, 1])

In [26]:
df.job.unique()

array([2, 0, 1])

In [27]:
df.degree.unique()

array([0, 1])

In [4]:
df.head()

   company  job  degree  salary_more_then_100k
0        2    2       0                      0
1        2    2       1                      0
2        2    0       0                      1
3        2    0       1                      1
4        2    1       0                      0

In [5]:
df.company.value_counts(), df.job.value_counts(), df.degree.value_counts()

(2    6
 1    6
 0    4
 Name: company, dtype: int64,
 0    6
 2    5
 1    5
 Name: job, dtype: int64,
 0    8
 1    8
 Name: degree, dtype: int64)

In [6]:
target = df.salary_more_then_100k
inputs = df[['company', 'job', 'degree']]

In [7]:
inputs.head()

   company  job  degree
0        2    2       0
1        2    2       1
2        2    0       0
3        2    0       1
4        2    1       0

In [8]:
target.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [9]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(criterion='gini', max_depth=3)

In [10]:
model.fit(inputs, target)

DecisionTreeClassifier(max_depth=3)

In [11]:
model.score(inputs, target)

0.9375

In [12]:
model.predict([[2,2,1]])

array([0], dtype=int64)

In [13]:
model.predict([[2,0,0]])

array([1], dtype=int64)