In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
dataset = pd.read_csv('d:/jupyter/datasets/Melbourne_housing_FULL.csv')
dataset.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [10]:
dataset.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [10]:
dataset.shape

(34857, 21)

In [11]:
dataset.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [12]:
dataset.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [13]:
cols_to_use = ['Suburb', 'Rooms', 'Type', 'Method', 'SellerG', 'Regionname', 'Propertycount',
               'Distance', 'CouncilArea', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'Price']

dataset = dataset[cols_to_use]

In [14]:
dataset.head()

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price
0,Abbotsford,2,h,SS,Jellis,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,126.0,NaN,NaN
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,202.0,NaN,1480000.0
2,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,0.0,156.0,79.0,1035000.0
3,Abbotsford,3,u,VB,Rounds,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,1.0,0.0,NaN,NaN
4,Abbotsford,3,h,SP,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,0.0,134.0,150.0,1465000.0

In [15]:
dataset.shape

(34857, 15)

In [16]:
dataset.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        3
Distance             1
CouncilArea          3
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [17]:
columns_to_fill_zero = ['Propertycount', 'Distance', 'Bedroom2', 'Bathroom', 'Car']

dataset[columns_to_fill_zero] = dataset[columns_to_fill_zero].fillna(0)
dataset.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        0
Distance             0
CouncilArea          3
Bedroom2             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [18]:
dataset['Landsize'] = dataset['Landsize'].fillna(dataset.Landsize.mean)
dataset['BuildingArea'] = dataset['BuildingArea'].fillna(dataset.BuildingArea.mean)

In [19]:
dataset.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          3
Propertycount       0
Distance            0
CouncilArea         3
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Price            7610
dtype: int64

In [20]:
dataset['Regionname'].bfill(inplace=True)
dataset.isnull().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          0
Propertycount       0
Distance            0
CouncilArea         3
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Price            7610
dtype: int64

In [21]:
dataset['CouncilArea'].bfill(inplace=True)
dataset.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          0
Propertycount       0
Distance            0
CouncilArea         0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Price            7610
dtype: int64

### you can use dropna to drop the row with nan values
#### dataset.dropna(inplace=True)

In [22]:
from sklearn.impute import SimpleImputer

price_imputer = SimpleImputer(missing_values=np.nan, strategy='median')

dataset[['Price']] = price_imputer.fit_transform(dataset[['Price']])
dataset['Price'].head(10)

0     870000.0
1    1480000.0
2    1035000.0
3     870000.0
4    1465000.0
5     850000.0
6    1600000.0
7     870000.0
8     870000.0
9     870000.0
Name: Price, dtype: float64

In [23]:
dataset.head()

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price
0,Abbotsford,2,h,SS,Jellis,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,126.0,<bound method NDFrame._add_numeric_operations....,870000.0
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,202.0,<bound method NDFrame._add_numeric_operations....,1480000.0
2,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,0.0,156.0,79.0,1035000.0
3,Abbotsford,3,u,VB,Rounds,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,1.0,0.0,<bound method NDFrame._add_numeric_operations....,870000.0
4,Abbotsford,3,h,SP,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,0.0,134.0,150.0,1465000.0

In [24]:
dataset = pd.get_dummies(dataset, drop_first=True)
dataset.head()

,Rooms,Propertycount,Distance,Bedroom2,Bathroom,Car,Price,Suburb_Aberfeldie,Suburb_Airport West,Suburb_Albanvale,...,BuildingArea_735.0,BuildingArea_406.0,BuildingArea_521.0,BuildingArea_6178.0,BuildingArea_654.0,BuildingArea_727.0,BuildingArea_417.0,BuildingArea_438.0,BuildingArea_686.0,BuildingArea_649.0
0,2,4019.0,2.5,2.0,1.0,1.0,870000.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,4019.0,2.5,2.0,1.0,1.0,1480000.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,4019.0,2.5,2.0,1.0,0.0,1035000.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,4019.0,2.5,3.0,2.0,1.0,870000.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,4019.0,2.5,3.0,2.0,0.0,1465000.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
dataset.shape

(34857, 3217)

In [26]:
dataset.columns

Index(['Rooms', 'Propertycount', 'Distance', 'Bedroom2', 'Bathroom', 'Car',
       'Price', 'Suburb_Aberfeldie', 'Suburb_Airport West', 'Suburb_Albanvale',
       ...
       'BuildingArea_735.0', 'BuildingArea_406.0', 'BuildingArea_521.0',
       'BuildingArea_6178.0', 'BuildingArea_654.0', 'BuildingArea_727.0',
       'BuildingArea_417.0', 'BuildingArea_438.0', 'BuildingArea_686.0',
       'BuildingArea_649.0'],
      dtype='object', length=3217)

In [27]:
x = dataset.drop('Price', axis=1)
y = dataset.Price

In [28]:
y.isna().sum()

0

In [29]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.30, random_state=2)

In [30]:
from sklearn.linear_model import LinearRegression

linreg = LinearRegression()

In [31]:
# linreg.fit(x_train, y_train)

LinearRegression()

# saving the model using joblib

In [32]:
import joblib

joblib.dump(linreg, 'model_linreg')

['model_linreg']

In [33]:
linearload = joblib.load('model_linreg')

In [34]:
linearload.score(x_test, y_test)

-1681350585060.4807

In [36]:
linreg.score(x_train, y_train)

0.580456667759139

In [37]:
linearload.score(x_train, y_train)

0.580456667759139

# L1 regularization --> Lasso

In [39]:
from sklearn.linear_model import Lasso

lasso_reg = Lasso(alpha=50, max_iter=100, tol=0.1)
# lasso_reg.fit(x_train, y_train)

Lasso(alpha=50, max_iter=100, tol=0.1)

In [40]:
joblib.dump(lasso_reg, 'model_lasso_reg')

['model_lasso_reg']

In [41]:
load_lasso = joblib.load('model_lasso_reg')
load_lasso.score(x_train, y_train)

0.5363332328928294

In [42]:
lasso_reg.score(x_train, y_train)

0.5363332328928294

In [43]:
lasso_reg.score(x_test, y_test)

0.4446315619289781

# L2 regularization --> Ridge

In [44]:
from sklearn.linear_model import Ridge

In [53]:
ridge_reg = Ridge(alpha=50, max_iter=100, tol=0.1)
# ridge_reg.fit(x_train, y_train)

Ridge(alpha=50, max_iter=100, tol=0.1)

In [46]:
joblib.dump(ridge_reg, 'model_ridge_reg')

['model_ridge_reg']

In [49]:
load_ridge = joblib.load('model_ridge_reg')
load_ridge.score(x_test, y_test)

0.45293871841110656

In [52]:
ridge_reg.score(x_test, y_test)

0.45293871841110656

In [54]:
ridge_reg.score(x_train, y_train)

0.47229952720696167