In [58]:
import pandas as pd

df = pd.read_csv('d:/jupyter/datasets/spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [59]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [60]:
df['spam'] = df['Category'].apply(lambda x: 1 if x == 'spam' else 0)

In [61]:
df

     Category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [62]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(df.Message, df.spam, test_size=0.25)

In [63]:
len(x_train), len(x_test)

(4179, 1393)

In [64]:
from sklearn.feature_extraction.text import CountVectorizer
# v = CountVectorizer()
# x_train_count = v.fit_transform(x_train.values)
# x_train_count.toarray()[:3]

In [65]:
from sklearn.naive_bayes import MultinomialNB

# model = MultinomialNB()
# model.fit(x_train_count, y_train)

In [66]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]

# emails_count = v.transform(emails)
# model.predict(emails_count)               # array([0, 1], dtype=int64)

In [67]:
# x_test_count = v.transform(x_test)
# model.predict(x_test_count)

In [68]:
# model.score(x_test_count, y_test)

# using pipeline instead of vectorizer

In [69]:
from sklearn.pipeline import Pipeline

clf = Pipeline([
    ('vectorizer', CountVectorizer()), ('nb', MultinomialNB())
])

In [70]:
#train directly using the 2 step pipeline

clf.fit(x_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [71]:
clf.predict(x_test[:3])

array([0, 0, 0], dtype=int64)

In [72]:
clf.score(x_test, y_test)

0.9820531227566404

In [73]:
clf.predict(emails)

array([0, 1], dtype=int64)