In [339]:
import pandas as pd

df = pd.read_csv('d:/jupyter/datasets/heart.csv')
df1 = df.copy
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [340]:
df['ChestPainType'].unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [341]:
df['RestingECG'].unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [342]:
df['ST_Slope'].unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [343]:
df['FastingBS'].unique()

array([0, 1], dtype=int64)

In [344]:
df.nunique()

Age                50
Sex                 2
ChestPainType       4
RestingBP          67
Cholesterol       222
FastingBS           2
RestingECG          3
MaxHR             119
ExerciseAngina      2
Oldpeak            53
ST_Slope            3
HeartDisease        2
dtype: int64

In [345]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [346]:
df.Sex = le.fit_transform(df.Sex)
df.ExerciseAngina = le.fit_transform(df.ExerciseAngina)
df.ST_Slope = le.fit_transform(df.ST_Slope)
df.ChestPainType = le.fit_transform(df.ChestPainType)
df.RestingECG = le.fit_transform(df.RestingECG)
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0

In [347]:
x = df.drop(columns='HeartDisease')
y = df.HeartDisease

In [348]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20, random_state=42)

In [349]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler, RobustScaler
from sklearn.compose import ColumnTransformer

In [350]:
transformer = ColumnTransformer(transformers=[('onehot', OneHotEncoder(sparse=False, drop='first'), [1, 2, 5, 6, 8, 10]),
                                              ('scaler', StandardScaler(), [0, 3, 4, 7, 9])],
                                remainder='passthrough')

In [351]:
x_train_scaled = transformer.fit_transform(x_train)
x_test_scaled = transformer.fit_transform(x_test)

In [352]:
x_train_scaled

array([[ 1.        ,  0.        ,  1.        , ...,  0.372803  ,
         2.28435288, -0.09706109],
       [ 1.        ,  0.        ,  1.        , ...,  0.08614581,
         1.65224147, -0.83628643],
       [ 1.        ,  0.        ,  0.        , ...,  0.12313384,
        -0.44162756,  0.08774524],
       ...,
       [ 1.        ,  0.        ,  0.        , ...,  0.49301407,
         0.30900473,  0.45735791],
       [ 1.        ,  0.        ,  0.        , ..., -1.84647842,
        -0.7181763 , -0.83628643],
       [ 0.        ,  0.        ,  0.        , ...,  1.77834789,
        -0.24409275,  1.01177691]])

In [353]:
x_train_scaled.shape

(734, 15)

In [354]:
x_train_scaled

array([[ 1.        ,  0.        ,  1.        , ...,  0.372803  ,
         2.28435288, -0.09706109],
       [ 1.        ,  0.        ,  1.        , ...,  0.08614581,
         1.65224147, -0.83628643],
       [ 1.        ,  0.        ,  0.        , ...,  0.12313384,
        -0.44162756,  0.08774524],
       ...,
       [ 1.        ,  0.        ,  0.        , ...,  0.49301407,
         0.30900473,  0.45735791],
       [ 1.        ,  0.        ,  0.        , ..., -1.84647842,
        -0.7181763 , -0.83628643],
       [ 0.        ,  0.        ,  0.        , ...,  1.77834789,
        -0.24409275,  1.01177691]])

In [355]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(x_train_scaled, y_train)
model_rf.score(x_test_scaled, y_test)

0.8695652173913043

In [356]:
x.shape

(918, 11)

In [357]:
from sklearn.decomposition import PCA

pca = PCA(.95)                              # retain 95% of useful features and create dimentions
x_train_pca = pca.fit_transform(x_train_scaled)
x_test_pca = pca.fit_transform(x_test_scaled)

In [358]:
x_train_scaled

array([[ 1.        ,  0.        ,  1.        , ...,  0.372803  ,
         2.28435288, -0.09706109],
       [ 1.        ,  0.        ,  1.        , ...,  0.08614581,
         1.65224147, -0.83628643],
       [ 1.        ,  0.        ,  0.        , ...,  0.12313384,
        -0.44162756,  0.08774524],
       ...,
       [ 1.        ,  0.        ,  0.        , ...,  0.49301407,
         0.30900473,  0.45735791],
       [ 1.        ,  0.        ,  0.        , ..., -1.84647842,
        -0.7181763 , -0.83628643],
       [ 0.        ,  0.        ,  0.        , ...,  1.77834789,
        -0.24409275,  1.01177691]])

In [359]:
x_train_pca

array([[ 2.20983589, -0.51041828,  0.67249983, ..., -0.46606585,
         0.96392861,  0.20471314],
       [ 2.59343923, -0.12428596, -0.2205827 , ..., -0.41341678,
         0.13389917, -0.14682783],
       [-1.02323548, -0.28484388, -0.40576203, ..., -0.44942333,
         0.42947337,  0.42731403],
       ...,
       [-0.13588059, -0.60131245,  0.28809639, ..., -0.78586275,
        -0.42982957,  0.17235617],
       [-1.06893264,  1.39696333, -1.6691054 , ..., -0.4887444 ,
        -0.82243788,  0.09153044],
       [ 0.22777029, -1.9576142 ,  0.58602231, ...,  0.95433995,
         0.32903819,  0.17842868]])

In [360]:
x_train_pca.shape

(734, 11)

In [361]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(x_train_pca, y_train)
# model_rf.score(x_test_pca, y_test_pca)
model_rf.score(x_test_pca,y_test)

0.7065217391304348